.btn
  +mt(.3s)
  font-size: 14px
  text-transform: uppercase
  font-weight: 700
  display: inline-block
  line-height: 1
  padding: 12px 48px
  box-shadow: none
  border: none
  text-align: center
  white-space: nowrap

.btn-green
  background-color: $accent-darkgreen
  color: #fff
  &.with-shadow
    box-shadow: 5px -5px #b2d0bd
  &:hover, &:focus, &:active
    color: #fff
  &.with-border
    &:hover
      background-color: transparent
      border-color: $accent-darkgreen

.btn-brown
  background-color: #473e39
  color: #fff
  &:hover, &:focus, &:active
    color: #fff
  &.with-border
    &:hover
      background-color: transparent
      border-color: #473e39
      color: #473e39



.with-shadow
  &:hover, &:focus, &:active
    box-shadow: 0 0 transparent

.with-border
  border: 2px solid transparent
