@import vars


/*==========  Desktop First  ==========*/

@media screen and (max-width: 1600px)
  .top-line
    .more-screen
      display: none
    .less-screen
      display: inline-block
      left: 50px
      right: auto

  .socials
    position: relative
    right: 0
    float: right
    top: 15px
    .soc-item
      margin: 0 6px

// ≥1200px
+media-breakpoint-down(lg)

  .about-img
    width: calc((100% - 940px)/2 + 450px)

  .map-block
    left: 0

  .adv-item
    padding-right: 0

  .num-item
    padding: 0 20px
    &-val
      font-size: 60px
    &-desc
      font-size: 16px

  .team-item
    margin-right: 0

  .project-item
    .project-item-img
      &:before
        transform: none
        left: 0
        top: 0
        bottom: 0
        right: 0
        opacity: 0
      &:after
        display: none
    &:hover
      .project-item-img
        &:before
          left: 0
          top: 0
          opacity: .3

  .top-line
    .less-screen
      left: 30px

  .main-mnu
    li
      a
        margin: 0 15px
        font-size: 14px

// ≥992px
+media-breakpoint-down(md)

  .about-img
    position: relative
    top: 0
    right: 0
    height: 500px
    width: 100%
    margin-top: 30px

  .foot-phone
    font-size: 22px
  .foot-whats
    font-size: 18px

  .foot-btn-wrap
    .btn
      font-size: 16px
      padding: 12px

  .s-advantages
    padding: 75px 0

  .brown-form
    max-width: 500px
    margin-left: auto
    margin-right: auto

  .num-item
    padding: 0

  .s-team
    .btn-wrap
      margin-top: 0

  .team-item
    margin-right: 50px
    margin-bottom: 70px
    &-img
      height: 400px

  .s-woodprojects
    .gallery-wrap
      flex-direction: row
      height: auto
      justify-content: space-between
    .gallery-item, .gallery-item:first-child
      width: calc(50% - 10px)
      margin-left: 0
      height: 230px
      padding: 15px
      .bottom
        left: 15px
        bottom: 15px
      .gallery-item-title
        font-size: 16px
        margin-bottom: 0
      .gallery-info
        font-size: 14px
      .info-item
        span
          display: none
      .serv-item
        padding: 5px 8px 7px
        font-size: 11px
        &:before
          width: 12px
          height: 12px
          margin-right: 6px

  .section-title
    text-align: center

  .hamburger
    display: inline-block

  .main-mnu
    display: none

  .top-line
    .less-screen
      left: auto
      right: 10px
    .logo
      margin-left: 0

  .top-addr
    margin-top: 20px

  .top-phones
    a
      display: inline-block
    margin-top: 20px
    text-align: right

// ≥768px
+media-breakpoint-down(sm)

  .foot-logo
    img
      margin: 0 auto 30px
  .foot-phones
    margin-bottom: 30px

  .s-map
    height: auto
  #map
    height: 500px

  .map-block
    position: relative
    top: 0
    width: 100%

  .advantages-bg-container
    opacity: .3

  .advantages-wrap
    margin-top: 60px

  .nums-wrap
    margin-top: 40px

  .num-item
    margin-bottom: 50px
    &-val
      font-size: 68px
    &-desc
      font-size: 20px

  .s-team
    .btn-wrap
      margin-top: 0

  .team-item
    margin-right: 20px
    margin-bottom: 50px
    &-img
      height: 320px

  .s-videocoms
    .video-item
      height: 290px


  section.with-bg, .s-creamy.with-bg
    background-image: none

  .intro-slide
    padding-top: 50px
    h1
      font-size: 40px
    .btn
      margin-top: 40px
  .intro-slider
    .slick-arrow
      right: auto
      left: 15px
      bottom: 15px
      width: 40px
      height: 40px
    .slick-next
      left: 57px

  .intro-news-slider
    bottom: 80px

// ≥480px
+media-breakpoint-down(xs)

  .page-title
    margin-bottom: 35px
    h1
      font-size: 24px

  .about-img
    height: 350px

  .map-block
    padding: 15px
    h3
      font-size: 24px

  .brown-form
    max-width: 100%
    padding-left: 20px
    padding-right: 20px

  .adv-item
    text-align: center
    &-icon
      margin-left: auto
      margin-right: auto

  .team-item
    margin-right: 30px
    margin-left: 20px
    &-img
      height: 400px

  .s-videocoms
    .video-item
      height: 195px

  .s-building
    .projects-wrap
      margin-top: 40px

  .s-woodprojects
    .gallery-wrap
      margin-top: 40px
    .gallery-item, .gallery-item:first-child
      width: 100%
      margin-left: 0
      height: 230px
      padding: 15px

  .section-title
    h2
      font-size: 24px

  .s-intro
    box-shadow: 0px 5px 25px 5px rgba(#000, .1)

  .intro-slider
    .slick-arrow
      bottom: 5px
      right: 5px
      left: auto
    .slick-prev
      right: 47px

  .intro-slide
    height: 500px
    font-size: 16px
    h1
      font-size: 28px

  .intro-news-slider
    position: relative
    right: 0
    bottom: 0
    max-width: 480px
    width: auto
    .slick-dots
      position: relative
      bottom: 0
      left: 0
      text-align: center

  .intro-news-slide
    display: block
    padding-bottom: 5px
    .slide-img
      display: block
      float: none
      width: 100%
      height: 170px
      margin-bottom: 15px
    .slide-title
      text-align: center
      margin-bottom: 10px
    .slide-content-wrap
      display: block



  .top-line
    padding: 8px 0
    .less-screen
      position: relative
      margin-top: 20px
      margin-left: auto
      margin-right: auto
      display: block
      max-width: 190px
      left: 0
      top: 0
    .logo
      text-align: center
      display: block
      margin-bottom: 5px
      img
        margin-left: auto
        margin-right: auto
  .top-addr
    display: none
  .top-phones
    text-align: center
    margin-top: 10px


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
