@import vars


/*==========  Desktop First  ==========*/

@media screen and (max-width: 1600px)
  .top-line
    .more-screen
      display: none
    .less-screen
      display: inline-block
      left: 50px
      right: auto

  .socials
    position: relative
    right: 0
    float: right
    top: 15px
    .soc-item
      margin: 0 6px

// ≥1200px
+media-breakpoint-down(lg)

  .project-item
    .project-item-img
      &:before
        transform: none
        left: 0
        top: 0
        bottom: 0
        right: 0
        opacity: 0
      &:after
        display: none
    &:hover
      .project-item-img
        &:before
          left: 0
          top: 0
          opacity: .3

  .top-line
    .less-screen
      left: 30px

  .main-mnu
    li
      a
        margin: 0 15px
        font-size: 14px

// ≥992px
+media-breakpoint-down(md)

  .s-woodprojects
    .gallery-wrap
      flex-direction: row
      height: auto
      justify-content: space-between
    .gallery-item, .gallery-item:first-child
      width: calc(50% - 10px)
      margin-left: 0
      height: 230px
      padding: 15px
      .bottom
        left: 15px
        bottom: 15px
      .gallery-item-title
        font-size: 16px
        margin-bottom: 0
      .gallery-info
        font-size: 14px
      .info-item
        span
          display: none
      .serv-item
        padding: 5px 8px 7px
        font-size: 11px
        &:before
          width: 12px
          height: 12px
          margin-right: 6px

  .section-title
    text-align: center

  .hamburger
    display: inline-block

  .main-mnu
    display: none

  .top-line
    .less-screen
      left: auto
      right: 10px
    .logo
      margin-left: 0

  .top-addr
    margin-top: 20px

  .top-phones
    a
      display: inline-block
    margin-top: 20px
    text-align: right

// ≥768px
+media-breakpoint-down(sm)

  section.with-bg, .s-creamy.with-bg
    background-image: none

  .intro-slide
    padding-top: 50px
    h1
      font-size: 40px
    .btn
      margin-top: 40px
  .intro-slider
    .slick-arrow
      right: auto
      left: 15px
      bottom: 15px
      width: 40px
      height: 40px
    .slick-next
      left: 57px

  .intro-news-slider
    bottom: 80px

// ≥480px
+media-breakpoint-down(xs)

  .s-building
    .projects-wrap
      margin-top: 40px

  .s-woodprojects
    .gallery-wrap
      margin-top: 40px
    .gallery-item, .gallery-item:first-child
      width: 100%
      margin-left: 0
      height: 230px
      padding: 15px

  .section-title
    h2
      font-size: 24px

  .s-intro
    box-shadow: 0px 5px 25px 5px rgba(#000, .1)

  .intro-slider
    .slick-arrow
      bottom: 5px
      right: 5px
      left: auto
    .slick-prev
      right: 47px

  .intro-slide
    height: 500px
    font-size: 16px
    h1
      font-size: 28px

  .intro-news-slider
    position: relative
    right: 0
    bottom: 0
    max-width: 480px
    width: auto
    .slick-dots
      position: relative
      bottom: 0
      left: 0
      text-align: center

  .intro-news-slide
    display: block
    padding-bottom: 5px
    .slide-img
      display: block
      float: none
      width: 100%
      height: 170px
      margin-bottom: 15px
    .slide-title
      text-align: center
      margin-bottom: 10px
    .slide-content-wrap
      display: block



  .top-line
    padding: 8px 0
    .less-screen
      position: relative
      margin-top: 20px
      margin-left: auto
      margin-right: auto
      display: block
      max-width: 190px
      left: 0
      top: 0
    .logo
      text-align: center
      display: block
      margin-bottom: 5px
      img
        margin-left: auto
        margin-right: auto
  .top-addr
    display: none
  .top-phones
    text-align: center
    margin-top: 10px


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
